<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Notícia</title>
</head>

<body>
	<h1>Notícias</h1>
	<table>
		<tr>
			<td>Id</td>
			<td>Título</td>
			<td>Notícia</td>
		</tr>
		<tr>
			<td>
				<%= noticia.id %>
			</td>
			<td>
				<%= noticia.titulo %>
			</td>
			<td>
				<%= noticia.noticia %>
			</td>
		</tr>
	</table>
</body>

</html>