<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Portal de Notícias</title>
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>

	<h1>Página Inicial</h1>

</body>

</html>